<html>
    <br/>
    <form action="rest-auth" method="get">
        <button>Back to admin panell</button>
    </form>
    <b>Add admin</b> <br/>
    <br/>
    <form action="add-admin" method="post">
        <label>Login</label>
        <br>
        <input type="text" name = "login"/>
        <br/>
        <br/>
        <label>Password</label>
        <br>
        <input type="password" name="password"/>
        <br>
        <br>
        <button type="submit">Add admin</button>
    </form>
</html>